* {}

#event {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    text-align: justify;
    display: flexbox;
    justify-content: center;
    background-color: #a7cdf3;
}

h2 {
    text-align: center;
    margin-top: 30px;
    background-color: #3a7ec2;
    height: 50px;
    color: aliceblue
}

ol {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600px;
}

footer {
    background: #2c3e50;
    color: aliceblue;
    padding: 10px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}