* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body .home {
    background: #f4f6f9;
    line-height: 1.6;
}

header {
    background: #0d3257;
    padding: 20px;
    text-align: centre;
}

.header {
    display: flex;
    gap: 50px;
}

.header h2 {
    text-align: center;
    color: white;
    text-decoration: none;
    margin-top: 25px;
}

.header h2 a {
    text-decoration: none;
    color: white;
}

nav {
    display: flex;
    justify-content: end;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
    text-align: right;
}

nav a:hover {
    color: #f39c12;
}

img {
    margin: 10px;
    height: 100px;
    width: 100px;
    align-items: left;
}

.hero {
    display: flex;

}


.content {
    width: 80%;
    margin: 15px auto;
    text-align: justify;
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#a1 {
    transition-duration: 5s;
    transition-delay: 0s;
    transition-property: color;
    transition: ease 5s;
}

#a1:hover {
    background-color: #608fbe;
}

#a2 {
    transition-duration: 5s;
    transition-delay: 0s;
    transition-property: color;
    transition: ease-in 5s;
}

#a2:hover {
    background-color: #608fbe;
}

#a3 {
    transition-duration: 5s;
    transition-delay: 0s;
    transition-property: color;
    transition: linear 5s;
  
}

#a3:hover {
    background-color: #608fbe;
}

iframe {
    transition-property: initial;
    transition: linear;
    display: block;
    margin: 30px auto;
    border-radius: 10px;
}


footer {
    background: #2c3e50;
    color: aliceblue;
    padding: 10px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}